<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Добавляем разрешение на интернет -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Для HTTP запросов (если сервер не использует HTTPS) -->
    <application
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Mobilka_course"
        tools:targetApi="28">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Добавляем новые активности БЕЗ указания темы -->
        <activity
            android:name=".ChartActivity"
            android:exported="false" />

        <activity
            android:name=".MetricsListActivity"
            android:exported="false" />

    </application>

</manifest>